[submodule "kingpin"]
	path = kingpin
	url = https://github.com/alecthomas/kingpin.git
[submodule "term"]
	path = term
	url = https://github.com/pkg/term.git
[submodule "viper"]
	path = viper
	url = https://github.com/spf13/viper.git
[submodule "yaml"]
	path = yaml
	url = https://github.com/go-yaml/yaml.git
