[submodule "kingpin"]
	path = kingpin
	url = https://github.com/alecthomas/kingpin.git
[submodule "term"]
	path = term
	url = https://github.com/pkg/term.git
[submodule "viper"]
	path = viper
	url = https://github.com/spf13/viper.git
[submodule "yaml"]
	path = yaml
	url = https://github.com/go-yaml/yaml.git
[submodule "logrus"]
	path = logrus
	url = https://github.com/sirupsen/logrus
[submodule "jmespath"]
	path = jmespath
	url = https://github.com/jmespath/go-jmespath
[submodule "etree"]
	path = etree
	url = https://github.com/beevik/etree
[submodule "gorequest"]
	path = gorequest
	url = https://github.com/parnurzeal/gorequest
